<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar">
<h2>MSM Tours - Admin</h2>
<div>
<a href="/">Home</a>
<a href="/logout">Logout</a>
</div>
</nav>

<h1 class="section-title">Admin Dashboard</h1>

<!-- USERS -->
<h2 class="section-title">Users</h2>
<div class="dashboard-box">

{% for u in users %}
<div style="margin-bottom:15px;">
<b>{{u.name}}</b><br>
Email: {{u.email}}<br>

<a href="/delete-user/{{u.id}}">
<button style="background:red;">Delete User</button>
</a>
</div>
<hr>
{% endfor %}

</div>

<!-- BOOKINGS -->
<h2 class="section-title">Bookings</h2>
<div class="dashboard-box">

{% for b in bookings %}
<div style="margin-bottom:15px;">
<b>{{b.name}}</b><br>
Email: {{b.email}}<br>
Phone: {{b.phone}}<br>
Package: {{b.package}}<br>
Date: {{b.date}}<br>
Message: {{b.message}}<br>

<a href="/delete-booking/{{b.id}}">
<button style="background:red;">Delete Booking</button>
</a>
</div>
<hr>
{% endfor %}

</div>

</body>
</html>