<!DOCTYPE html>
<html>
<head>
<title>Book Tour</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1 style="text-align:center;">Book Your Tour</h1>

<form method="POST" style="width:300px; margin:auto;">

<label>Name:</label><br>
<input type="text" name="name" required><br><br>

<label>Select Package:</label><br>
<select name="package">
<option>Goa</option>
<option>Kerala</option>
<option>Manali</option>
<option>Dubai</option>
</select><br><br>

<label>Date:</label><br>
<input type="date" name="date" required><br><br>

<button type="submit">Confirm Booking</button>

</form>

</body>
</html>