<!DOCTYPE html>
<html>
<head>
<title>MSM Tours & Travels</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<header>
<h1>MSM Tours & Travels</h1>
<p>Your Journey Begins With Us</p>
</header>

<nav>
<a href="/">Home</a>
<a href="/packages">Packages</a>
<a href="/booking">Book</a>
<a href="/contact">Contact</a>
</nav>

<!-- SLIDER -->
<div class="slider">
  <div class="slides">
    <img src="/static/images/goa.jpg">
    <img src="/static/images/kerala.jpg">
    <img src="/static/images/manali.jpg">
    <img src="/static/images/dubai.jpg">
  </div>
</div>

<h2 style="text-align:center;">Explore Beautiful Destinations</h2>

</body>
</html>
<div class="search-box">

<form action="/packages" method="GET">

<input type="text" name="search" placeholder="Search destination...">

<button type="submit">Search</button>

</form>

</div>