<h1>Tour Packages</h1>

<div class="packages">

<div class="card">
<img src="/static/images/goa.jpg">
<h3>Goa Beach Tour</h3>
<p>3D/2N – ₹15,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/coorg.jpg">
<h3>Coorg Chills</h3>
<p> 3D/1N – ₹20,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/manali.jpg">
<h3>Manali Adventure</h3>
<p>5D/1N – ₹18,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/dubai.jpg">
<h3>Dubai Luxury Tour</h3>
<p>6D/5N – ₹60,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/ooty.jpg">
<h3>Ooty Vacation</h3>
<p>3D/2N – ₹12,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/rajasthan.jpg">
<h3>Rajasthan Royal Trip</h3>
<p>5D/4N – ₹25,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/singapore.jpg">
<h3>singapore Tour</h3>
<p>5D/4N – ₹50,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/tajmahal.jpg">
<h3>TajMahal - Delhi Tour</h3>
<p>5D/4N – ₹35,000</p>
<a href="/booking"><button>Book</button></a>
</div>

</div>

<h1>Customer Reviews</h1>

<div class="reviews">

<div class="review-card">
<p>"The Goa trip was amazing! Great hotels and service."</p>
<h4>- Priya S.</h4>
</div>

<div class="review-card">
<p>"Kerala backwaters tour was peaceful and well organized."</p>
<h4>- Rahul K.</h4>
</div>

<div class="review-card">
<p>"Manali adventure tour was unforgettable. Highly recommended!"</p>
<h4>- Anjali M.</h4>
</div>

</div>