<!DOCTYPE html>
<html>

<head>
<title>Packages</title>

<!-- ✅ ADD THIS -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar">
<h2>MSM Tours</h2>
<div>
<a href="/">Home</a>
<a href="/packages">Packages</a>
<a href="/booking">Book</a>
<a href="/contact">Contact</a>
</div>
</nav>

<h1 class="section-title">Tour Packages</h1>

<form method="GET" style="text-align:center; margin-bottom:20px;">
<input type="text" name="search" placeholder="Search destination">
<button type="submit">Search</button>
</form>

<div class="packages">
{% for p in packages %}
<div class="card">
<img src="/static/images/{{p.image}}">
<h3>{{p.name}}</h3>
<p>₹{{p.price}}</p>
<a href="/booking"><button>Book Now</button></a>
</div>
{% endfor %}
</div>

</body>
</html>