<h1>Tour Packages</h1>

<div class="packages">

<div class="card">
<img src="/static/images/goa.jpg">
<h3>Goa Beach Tour</h3>
<p>3 Days – ₹15,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/kerala.jpg">
<h3>Kerala Backwaters</h3>
<p>4 Days – ₹20,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/manali.jpg">
<h3>Manali Adventure</h3>
<p>5 Days – ₹18,000</p>
<a href="/booking"><button>Book</button></a>
</div>

<div class="card">
<img src="/static/images/dubai.jpg">
<h3>Dubai Luxury Tour</h3>
<p>6 Days – ₹60,000</p>
<a href="/booking"><button>Book</button></a>
</div>

</div>
<h1>Customer Reviews</h1>

<div class="reviews">

<div class="review-card">
<p>"The Goa trip was amazing! Great hotels and service."</p>
<h4>- Priya S.</h4>
</div>

<div class="review-card">
<p>"Kerala backwaters tour was peaceful and well organized."</p>
<h4>- Rahul K.</h4>
</div>

<div class="review-card">
<p>"Manali adventure tour was unforgettable. Highly recommended!"</p>
<h4>- Anjali M.</h4>
</div>

</div>