<!DOCTYPE html>
<html>
<head>
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<title>Request Service</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar">
<h2>MSM Tours</h2>
</nav>

<form method="POST" class="form">

<h2>Request a Service</h2>

<input type="text" name="name" placeholder="Your Name" required>
<input type="email" name="email" placeholder="Your Email" required>
<input type="text" name="phone" placeholder="Phone Number" required>

<label>Select Service</label>
<select name="service" required>
  <option value="">Select Service</option>
  <option>your Customised package? write in message box</option>
  <option>Visa Assistance</option>
  <option>Passport Services</option>
  <option>Money Foreign Exchange</option>
  <option>Flight Booking</option>
  <option>Hotel Booking</option>
  <option>Transport Services</option>
  <option>other? mention in message box</option>
</select>

<label>Start Date</label>
<input type="date" name="start_date" required>

<label>Return Date</label>
<input type="date" name="return_date" required>

<textarea name="message" placeholder="Your requirement"></textarea>

<button type="submit">Submit Request</button>

</form>

</body>
</html>