<!DOCTYPE html>
<html>

<head>
<title>Booking Success</title>

<!-- ✅ IMPORTANT -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav class="navbar">
<h2>MSM Tours</h2>
<div>
<a href="/">Home</a>
<a href="/packages">Packages</a>
</div>
</nav>

<div class="success-box">
<h1>🎉 Booking Confirmed!</h1>

<p>Thank you <b>{{name}}</b></p>
<p>Your <b>{{package}}</b> Congratulations 🎉trip is booked successfully, Have Fun!🎉</p>
<p>Date: <b>{{date}}</b></p>

<a href="/"><button>Return Home</button></a>
</div>

</body>
</html>