<!DOCTYPE html>
<html>
<head>
<title>Success</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="success-box">

<h1>🎉 Booking Request Sent!</h1>

<p>Thank you <b>{{name}}</b></p>

<p>Your booking for <b>{{package}}</b> has been received.</p>

<h3>📞 Contact us now to confirm:</h3>

<p><b>6366017711</b></p>
<p><b>8971628988</b></p>

<a href="/"><button>Back to Home</button></a>

</div>

</body>
</html>